In [18]:
#question 1 

l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

l1= sorted(l,key=lambda x : )

{'Sachin Tendulkar': 34357, 'Ricky Ponting': 27483, 'Jack Kallis': 25534, 'Virat Kohli': 24936}

In [9]:
#question 2

l = [1,2,3,4,5,6,7,8,9,10]
l1 = []
for i in l:
    sqaure=lambda i : i**2
    l1.append(square(i))
    
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#question 3 

l = [1,2,3,4,5,6,7,8,9,10]
l1=[]
for i in l:
    s=lambda i : str(i)
    l1.append(s(i))
l1

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [16]:
#question 4
from functools import reduce
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
ans = reduce(lambda a,b : a*b,l)
print(ans)

15511210043330985984000000

In [15]:
#question 5

l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

check = filter(lambda a : a%2==0  and a%3==0,l)

for i in check:
    print(i)

6
60
90
120

In [13]:
#question 6

l = ['python', 'php', 'aba', 'radar', 'level']

check = filter(lambda a : a==a[::-1] , l)

for i in check :
    print(i)

php
aba
radar
level