In [1]:
!pip install pandas as pd

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [2]:
#question 1 

'''
function of the pandas libraries 
read_csv
head
tail
groupby
sort_values
'''
import pandas as pd

df = pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})

df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [3]:
df.tail()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
df.groupby('Age')

In [5]:
df.sort_values('Age')

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

In [11]:
#question 2 

import pandas as pd

def reindex_with_increment(df):
    new_index = pd.Index(range(1, len(df) * 2, 2))
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed

data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)
df_new_index = reindex_with_increment(df)
print(df_new_index)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [15]:
#question 3

import pandas as pd 

def Sum(df):
    data_values = df['Values']
    first_three_values = df.head(3)
    sum_of_first_three = first_three_values.sum()
    return sum_of_first_three

data = {'Values':[10,20,30,40,50]}

df = pd.DataFrame(data)
Sum(df)

Values    60
dtype: int64

In [19]:
#question 4 

import pandas as pd

def new(df):
    df['Word_Count'] = df['Text'].apply(lambda text:len(text.split()))
    return df
data = {'Text': ["This is a sample text.",
                 "Another example with more words.",
                 "Short text."]}

df=pd.DataFrame(data)

new(df)

                               Text  Word_Count
0            This is a sample text.           5
1  Another example with more words.           5
2                       Short text.           2

In [ ]:
#question 5 

"Dataframe.size"
'This attribute returns the total number of elements in the DataFrame.'

"Dataframe.Shape"
'this attribute give the no.of rows * no. of columns'

In [ ]:
#question 6

import pandas as pd
pd.read_excel()

In [23]:
#question 7 

import pandas as pd

def new(df):
    df['Username'] = df['Email'].apply(lambda email: email.split('@')[0])
    return df

data = {'Email': ["user1@example.com",
                  "user2@example.com",
                  "user3@example.com"]}

df = pd.DataFrame(data)
new_data = new(df)

print(new_data)

               Email Username
0  user1@example.com    user1
1  user2@example.com    user2
2  user3@example.com    user3

In [30]:
#question 8 

import pandas as pd 

def filter_new(df):
    selected_rows = df[(df['A']>5)& (df['B'] <10)]
    return selected_rows
data = {'A': [3,8,6,2,9],
        'B': [5,2,9,3,1],
        'C': [1,7,4,5,2]}

df = pd.DataFrame(data)
df
filter_new(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [34]:
#question 9 

import pandas as pd 

def all_func(df):
    Mean = df['Values'].mean()
    Median =df['Values'].median()
    Sd= df['Values'].std()
    return print(Mean , Median , Sd)

data = {'Values':[10,20,30,40,50]}

df = pd.DataFrame(data)
all_func(df)

30.0 30.0 15.811388300841896

In [35]:
#question 10

import pandas as pd 


def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data = {'Date': pd.date_range(start='2023-08-01', periods=10, freq='D'),
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]}

df = pd.DataFrame(data)
df_with_moving_average = calculate_moving_average(df)
print(df_with_moving_average)

        Date  Sales  MovingAverage
0 2023-08-01     10           10.0
1 2023-08-02     15           12.5
2 2023-08-03     20           15.0
3 2023-08-04     25           17.5
4 2023-08-05     30           20.0
5 2023-08-06     35           22.5
6 2023-08-07     40           25.0
7 2023-08-08     45           30.0
8 2023-08-09     50           35.0
9 2023-08-10     55           40.0

In [40]:
#question 11 

import pandas as pd

def new(df):
    df['WeekDay'] = df['Date'].dt.day_name()
    return df

data = {'Date': pd.date_range(start='2023-08-01', periods=10, freq='D')}

df = pd.DataFrame(data)

new(df)

        Date    WeekDay
0 2023-08-01    Tuesday
1 2023-08-02  Wednesday
2 2023-08-03   Thursday
3 2023-08-04     Friday
4 2023-08-05   Saturday
5 2023-08-06     Sunday
6 2023-08-07     Monday
7 2023-08-08    Tuesday
8 2023-08-09  Wednesday
9 2023-08-10   Thursday

In [ ]:
#question 12

import pandas as pd

def select_rows_within_range(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

data = {'Date': pd.date_range(start='2023-01-01', periods=10, freq='D')}

df = pd.DataFrame(data)
start_date = '2023-01-01'
end_date = '2023-01-31'
selected_rows_df = select_rows_within_range(df, start_date, end_date)
print(selected_rows_df)

In [ ]:
#question 13