In [22]:
#question 1 
import pandas as pd

l1 = [1,2,3,4,5,6]
l2 = [2,3,4,5,6,7]

df = pd.DataFrame(list(zip(l1,l2)))
df.columns=['time_students_spend_studying','final exam scores']
df.corr(method = 'pearson')

                              time_students_spend_studying  final exam scores
time_students_spend_studying                           1.0                1.0
final exam scores                                      1.0                1.0

In [25]:
#question 2 

l1 = [1,2,3,4,5,6]
l2 = [3,5,1,4,2,10]

df = pd.DataFrame(list(zip(l1,l2)))
df.columns=['amount_of_sleep_individuals_get_each_night','overall_job_satisfaction_level']
df.corr(method = 'spearman')

,amount_of_sleep_individuals_get_each_night,overall_job_satisfaction_level
amount_of_sleep_individuals_get_each_night,1.000000,0.257143
overall_job_satisfaction_level,0.257143,1.000000

In [26]:
#question 3 

import numpy as np
from scipy.stats import pearsonr, spearmanr

exercise_hours = [3, 5, 7, 2, 6, 4]  
bmi = [25.5, 28.0, 30.2, 24.1, 29.8, 26.7]  

pearson_corr, _ = pearsonr(exercise_hours, bmi)
print(f"Pearson correlation coefficient: {pearson_corr}")

spearman_corr, _ = spearmanr(exercise_hours, bmi)
print(f"Spearman's rank correlation coefficient: {spearman_corr}")

Pearson correlation coefficient: 0.9929942203724047
Spearman's rank correlation coefficient: 1.0

In [27]:
#question 4 

import numpy as np
from scipy.stats import pearsonr, spearmanr

spend_watching_television_per_day = [3, 5, 7, 2, 6, 4]  
level_of_physical_activity= [25.5, 28.0, 30.2, 24.1, 29.8, 26.7]  

pearson_corr, _ = pearsonr(spend_watching_television_per_day, level_of_physical_activity)
print(f"Pearson correlation coefficient: {pearson_corr}")

spearman_corr, _ = spearmanr(spend_watching_television_per_day, level_of_physical_activity)
print(f"Spearman's rank correlation coefficient: {spearman_corr}")

Pearson correlation coefficient: 0.9929942203724047
Spearman's rank correlation coefficient: 1.0

In [47]:
#question 5 

l1 =[25,42,37,19,31,28]
l2 =['Coke','Pepsi','Mountain_Dew','Coke','Pepsi','Coke']
df = pd.DataFrame(list(zip(l1,l2)))
df.columns = ['Age(Years)','Soft drink Preference']

from sklearn.preprocessing import OneHotEncoder

le = OneHotEncoder()
encoded = le.fit_transform(df[['Soft drink Preference']])

df1 = pd.DataFrame(encoded.toarray(),columns=le.get_feature_names_out())

df2 = pd.concat([df,df1] , axis = 1)

,Age(Years),Soft drink Preference,Soft drink Preference_Coke,Soft drink Preference_Mountain_Dew,Soft drink Preference_Pepsi
0,25,Coke,1.0,0.0,0.0
1,42,Pepsi,0.0,0.0,1.0
2,37,Mountain_Dew,0.0,1.0,0.0
3,19,Coke,1.0,0.0,0.0
4,31,Pepsi,0.0,0.0,1.0
5,28,Coke,1.0,0.0,0.0

In [37]:
#question 6

import numpy as np
from scipy.stats import pearsonr, spearmanr

sales_calls_made_per_day = [3, 5, 7, 2, 6, 4]  
sales_calls_made_per_week= [25.5, 28.0, 30.2, 24.1, 29.8, 30]  

pearson_corr, _ = pearsonr(sales_calls_made_per_day,sales_calls_made_per_week)
print(f"Pearson correlation coefficient: {pearson_corr}")

Pearson correlation coefficient: 0.8547566888476421