In [3]:
a = "Priyank"
b = ["priyank",2,"2"]
c = 9.32
d = (1,2,3,4)

types = (type(a),type(b),type(c),type(d))

print(types)

(<class 'str'>, <class 'list'>, <class 'float'>, <class 'tuple'>)

In [8]:
a = 2
b = 5

print(a/b,a%b,a//b,a**b)

0.4 2 0 32

In [4]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in list :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
A = int(input("Enter a number : "))
B = int(input("Enter a number : "))
while (A / B != int):
    print(A/B)
    break
else:
    None

Enter a number :  10
Enter a number :  2

5.0

In [6]:
list = [
  1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
  22, 23, 24, 25
]

for i in list: 
    if (i%3==0):
        print(f"{i} it is Divisible")
    else:
        print(f"{i} it is not Divisible")

1 it is not Divisible
2 it is not Divisible
3 it is Divisible
4 it is not Divisible
5 it is not Divisible
6 it is Divisible
7 it is not Divisible
8 it is not Divisible
9 it is Divisible
1 it is not Divisible
10 it is not Divisible
11 it is not Divisible
12 it is Divisible
13 it is not Divisible
14 it is not Divisible
15 it is Divisible
16 it is not Divisible
17 it is not Divisible
18 it is Divisible
19 it is not Divisible
20 it is not Divisible
21 it is Divisible
22 it is not Divisible
23 it is not Divisible
24 it is Divisible
25 it is not Divisible

In [12]:
#Mutable

list = [1,2,3,4,5]
list[1]
list[1] = "Priyank"
list[1]

'Priyank'

In [14]:
#imutable

a = 'Priyank'

'Priyank' == 2

False