In [6]:
#question 1

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [ ]:
#question 2 

#loc
"works on label based indexing"

#iloc
"works on integer based indexing "

In [9]:
#question 3 

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
#question 4 

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

a = df1['column_1'].mean(),df1['column_2'].mean(),df1['column_3'].mean(),df1['column_4'].mean(),df1['column_5'].mean(),df1['column_6'].mean()

print(a)

(0.5567844458302763, 0.6451116473739925, 0.6333593398109705, 0.38162684119729356, 0.5751573531986812, 0.465090650004986)

In [13]:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

b = df1['column_1'].std(),df1['column_2'].std()
print(b)

(0.2965480243786108, 0.32394167312635963)

In [15]:
#quwestion 5

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)


df1['column_1'].loc[1] = "Arey bhai"
df1['column_2'].loc[1] = "Arey bhai"

df1

/tmp/ipykernel_95/2867996308.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['column_2'].loc[1] = "Arey bhai"

    column_1   column_2  column_3  column_4  column_5  column_6
1  Arey bhai  Arey bhai  0.920774  0.316527  0.334491  0.569672
2   0.542009   0.397646  0.921208  0.272761  0.899316  0.616055
3   0.299559   0.218022  0.283856  0.667126  0.981678  0.686235
4   0.371779   0.993441  0.313068  0.467403  0.673094  0.984610
5   0.558618   0.306024  0.157960  0.062385  0.011967  0.966169
6   0.674285   0.007658  0.109336  0.483762  0.837825  0.994171

In [ ]:
#question 6 

"window functions (also known as rolling or moving functions) are used to perform calculations on a sliding window of data within a DataFrame or Series. These functions allow you to compute aggregate statistics, transformations, and other operations on a specified window of data points as the window moves across the data."

'''
Rolling aggregation 
shifts and lags
exponential moving average 
custom window specification 
Expanding windows
'''

In [2]:
#question 7 

import datetime

current_date = datetime.datetime.now()

current_month=current_date.month
current_day= current_date.day

print(f"the current month is {current_month} and the current day that is going on is {current_day}")

the current month is 8 and the current day that is going on is 22

In [ ]:
#question 8

def new(start_date,end_date):
    start_date = pd.to_datetime(start_date)
    end_date= pd.to_datetime(end_date)
    time_difference = end_date - start_date
    return time_difference

start_date_input = input("Enter the date (YYYY-MM-DD)")
end_date_input = input("Enter the date (YYYY-MM-DD)")

time_difference = caluculate_time_difference(start_date_input,end_date_input)

days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60

# Display the result
print(f"Time Difference:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

In [ ]:
#question 9

import pandas as pd


file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated values): ").split(',')

df = pd.read_csv(file_path)

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
print(f"Column '{column_name}' not found in the CSV file.") 
sorted_df = df.sort_values(by=[column_name])
print("\nSorted Data:")
print(sorted_df)

In [ ]:
#question 10 

import pandas as pd 
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the file")
df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])

pivot_df = df.pivot_table(index='Date', columns='ProductCategory', values='Sales', aggfunc='sum')

plt.figure(figsize=(10, 6))
pivot_df.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend(title='Product Category')
plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

In [ ]:
#question 11

import pandas as pd

file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)

mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

data = {'mean':mean_score,'median':median_score,'mode':mode_scores}

df1 = pd.DataFrame(data)
df1