In [ ]:
#question 1 

"database means where the all data is begin stored and from where we can manipulate the data through it"

'''
difference betweeen nosql and sql is 

sql takes table row form while nosql takes the data in object oriented form 

'''

In [ ]:
#question 2

"ddl stands for data defination language"

'''
create = use to create something in the db


CREATE TABLE students (
    student_id INT,
    student_name VARCHAR(100),
    age INT
);

drop = use to delete the db in the server

DROP TABLE atudenta;


trucate= use to delete all the data from the db

truncate table syudents;

Alter= alter is used to modify the table by adding a row or deleting a column

ALTER TABLE employees
ADD address VARCHAR(100);


'''

In [ ]:
#question 3

"DML stands for data manipulation language"

'''
insert = is use to insert values in something

update = is used to to update the data which is already present in the db

delete = it is use to delete a total row from the data

'''

In [ ]:
#question 4 

"dql stands for the data query language"


'''
select is use to specifically select some thing

select*from student;
'''

In [ ]:
#question 5 

"primary key is the unique key in the table that cant change its value and its value cannot be overwritten"

"foreign key means it can be used again and again and it does not have any uniqueness"

In [2]:
#question 6

"The cursor() method is used to create a cursor object, which is a pointer or handle to interact with the database. A cursor allows you to execute SQL queries and fetch data from the database result sets. It acts as a work area to process the query results and provides methods to fetch and manipulate data returned from the database."

"The execute() method is used to execute SQL queries or statements on the database using the cursor object. It allows you to send SQL commands to the database and perform operations like SELECT, INSERT, UPDATE, DELETE, etc."


import mysql.connector

database_config = {
    "host": "127.0.0.1",
    "user": "abc",
    "password": "password",
    "database": "Test",
}

try:
    connection = mysql.connector.connect(**database_config)

    if connection.is_connected():
        print("Connected to MySQL!")

        connection.close()
        print("Connection closed.")

except mysql.connector.Error as err:
    print(f"Error: {err}")

ModuleNotFoundError: No module named 'mysql'